*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --side-brand-width: 250px;
  --side-brand-width-mobile: 70px;

  --dark-mode-primary: #57617d;
  --dark-mode-error: red;
  --light-mode-primary: rgb(237, 237, 237);
}

.container{
  height: 100vh;
  width: auto;
  background-color: var(--light-mode-primary);
}

.container.dark{
  background-color: var(--dark-mode-primary);
}

/* sidebar */
.sidebar-container{
  position: fixed;
  width: var(--side-brand-width);
  height: 100vh;
  background-color: antiquewhite;
}
.navbar-container,
.main-content-container,
.footer-container{
  padding-left: var(--side-brand-width);
}

.navbar-container,
.footer-container{
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: aqua;
}

.main-content-container{
  background-color: transparent;
  height: 87vh;
}

.side-brand{
  background-image: url("./src/images/massa_logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: var(--side-brand-width);
  margin: 1vh;
}

.side-menu{
  margin-top: 25vh;
}

ul{
  list-style: none;
}

li a{
  text-decoration: none;
  color: black;
}

.link li{
  margin: 3vh 5vh ;
}

/* navbar */
.navbar-container{
  display: flex;
  justify-content: space-between;
}
.title{
  margin-left: 2vh;
}
.dark-mode{
  margin-right: 4vh;
  margin-top: 1vh;
}
    /* darkmode */
.dark-mode {
  margin: 0;
  transition: background 0.2s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  margin-right: 2vh;
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3.1px;
  left: 3.3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

/* main-content */
.content-container{
  visibility: hidden;
  height: 0;
  width: 0;
}
.content-container.active{
  visibility: visible;
  width: 100%;
}

  /* credentials */


.content-container.credentials.active{
  height: 40vh;
}

.credentials-inputs-container {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.input-container {
  position: relative;
  margin: 12px 0;
  width: 50%;
  max-width: 400px;
}

.input-container input {
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: #acacac solid 2px; 
  background-color: transparent;
  color: #eee;
  transition: 0.15s all ease;
  width: 100%;
}

.input-container input::placeholder {
  color: transparent;
}

.input-container .input-label {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: #acacac;
  pointer-events: none;
  transition: 0.15s all ease;
}

.input-container input:focus + .input-label,
.input-container input:not(:placeholder-shown) + .input-label {
  transform: translate(5px, -22px);
  background-color: #383838;
  font-size: 14px;
  color: #eee;
  
}

.input-error{
  color: var(--dark-mode-error);
}
.input-error.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}

/* carousel */

.content-container.public-api.active{
  height: 100%;
  width: 100%;
  /* margin-left: var(--side-brand-width); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  z-index: 22;
}

.cards-container {
  background-color: red;
  position: absolute;
  height: 300px;
  width: 650px;
  transform: translateY(-60%);
  display: flex;
}



.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}



.card:not(:first-child) {
  /* margin-left: -calc((100% - var(--side-brand-width)) - 950px); */
  margin-left: -100px;
}



.card:hover {
  position: relative;
  transform: translateY(-20px) scale(1.1);
  transition: 0.4s ease-out;
  z-index: 222;
  width: 250px;
}



.card:hover ~ .card {
  position: relative;
  left: 100px;
  transition: 0.4s ease-out;
}



.card-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}



.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}



.emptybar {
  margin-top: -50px;
  background-color: #2e3033;
  width: 2%;
  height: 100%;
}



.filledbar {
  position: absolute;
  top: 0px;
  margin-top: -50px;
  /* left:0px; */
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 90%;
  transition: 0.4s ease-out;
}
.card:hover .emptybar {
  visibility: hidden;
  width: 0;
  height: 0;
}

.card-input{
  position: absolute;
  top: 100px;
  left: 15px;
}

.card-input textarea{
  background-color: transparent;
  border: 1px black solid;
  color: white;
  width: 150px;
  resize: none;
}
textarea:focus{
  border: red;
}

.card-input textarea::placeholder{
  position: absolute;
  top: 3px;
  left: 3px;
}

@media screen and (max-width: 1000px){
  .sidebar-container{
    width: 120px;
  }
  a>span{
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .side-brand{
    background-image: url("./src/images/logo_massa.mobile.webp");
  }
  .sidebar-container,
  .side-brand{
    width: var(--side-brand-width-mobile);
  }
  .navbar-container,
  .main-content-container,
  .footer-container{
    padding-left: var(--side-brand-width-mobile);
  }
  .link li{
    margin: 1vh 2.5vh ;
  }
  
  /* public api */
  .cards-container{
    width: 500px;
  }
}

@media screen and (max-width: 600px){
  .cards-container{
    width: 350px;
  }
}