@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: Maison Neue Extended;
  src: url("//db.onlinewebfonts.com/t/a6a787f8616df7d0847ed764ff81d724.eot");
  src: url("//db.onlinewebfonts.com/t/a6a787f8616df7d0847ed764ff81d724.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a6a787f8616df7d0847ed764ff81d724.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a6a787f8616df7d0847ed764ff81d724.woff") format("woff"), url("//db.onlinewebfonts.com/t/a6a787f8616df7d0847ed764ff81d724.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a6a787f8616df7d0847ed764ff81d724.svg#Maison Neue Extended Extra Bold") format("svg");
}

:root {
  --title-font: Maison Neue Extended;
  --text-font: Cyber;

  --side-brand-width: 250px;
  --side-brand-width-mobile: 70px;

  --dark-mode-primary: linear-gradient(90deg,#172230 50.03%,#0c1219 85.82%);
  --dark-mode-error: red;
  --dark-mode-text-color: white;
  
  --light-mode-primary: linear-gradient(90deg,#e74e4e61 13.96%,#3246ff5f 85%);
  --light-mode-text-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}


body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
body:hover::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  transition: 04s ease-in;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(140, 85, 85);
}

h1,
h2 {
  font-family: var(--title-font);
}

.container {
  height: 100vh;
  width: auto;
  background: var(--dark-mode-primary);
  color: var(--dark-mode-text-color);
}
.container.light {
  background: transparent;
  color: var(--light-mode-text-color);
}

/* .container.dark {
  background: var(--dark-mode-primary);
} */

/* sidebar */
.sidebar-container {
  position: fixed;
  width: var(--side-brand-width);
  height: 100vh;
  /* background-color: antiquewhite; */
}

.navbar-container,
.main-content-container,
.footer-container {
  padding-left: var(--side-brand-width);
}

body{
  background: var(--light-mode-primary);
}

.navbar-container.light,
.footer-container.light {
  background: var(--light-mode-primary);
}
.navbar-container,
.footer-container {
  padding-top: 2vh;
  padding-bottom: 2vh;
  /* background-color: aqua; */
  background: var(--dark-mode-primary);
}

.main-content-container {
  /* background-color: transparent; */
  height: 86vh;
}

.side-brand {
  background-image: url("./src/images/massa_logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: var(--side-brand-width);
  margin: 1vh;
}

.side-menu {
  margin-top: 25vh;
}

ul {
  list-style: none;
}

.side-menu li a {
  text-decoration: none;
  color: var(--dark-mode-text-color);
}
.side-menu li a.light {
  text-decoration: none;
  color: var(--light-mode-text-color);
}

.link li {
  margin: 3vh 5vh;
}

/* navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 2vh;
}

.dark-mode {
  margin-right: 4vh;
  margin-top: 1vh;
}

/* darkmode */
.dark-mode {
  margin: 0;
  transition: background 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  margin-right: 2vh;
  width: 50px;
  height: 26px;
  background-color: rgba(95, 62, 62, 0.374);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 18px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #172230;
}

.fa-sun {
  color: rgb(213, 100, 119);
  /* background: linear-gradient(red, black);
  color: transparent;
  border-radius: 50%; */
}

/* main content */
.main-content-title h1 {
  padding-top: 180px;
  padding-left: 100px;
  font-size: xxx-large;
}

.main-content-description{
  padding-top: 50px; 
  padding-left: 150px; 
  font-size: 22px;
}


.main-content-description ul{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 18px;
}

.main-content-description li{
  margin: 3px 0px;
}

a{
  color: var(--dark-mode-text-color);
}
a.light{
  color: var(--light-mode-text-color);
}

.main-content-description li a{
  text-decoration: underline 2px;
}

/* footer */

.footer-container{
  display: flex;
  justify-content: center;
}

.footer-title{
  margin: 4vh 5vh;
}


.footer-columns-container .link li {
  margin: 1vh 5vh;
}

.footer-columns-container{
  display: flex;
  justify-content: space-between;
  /* padding-left: 20px;
  padding-right: 20px; */
}

@media screen and (max-width: 1000px) {

  /* main page */
  .sidebar-container {
    width: 120px;
  }

  .side-menu a>span {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .side-brand {
    background-image: url("./src/images/logo_massa.mobile.webp");
  }

  .sidebar-container,
  .side-brand {
    width: var(--side-brand-width-mobile);
  }

  .navbar-container,
  .main-content-container,
  .footer-container {
    padding-left: var(--side-brand-width-mobile);
  }

  .link li {
    margin: 1vh 2.5vh;
  }

  .main-content-title h1 {
    padding-top: 150px;
    padding-left: 80px;
    font-size: xxx-large;
  }
  .main-content-description{
    padding-top: 40px; 
    padding-left: 130px; 
    font-size: 20px;
  }


    /* footer */
  .footer-columns-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  .footer-columns-container .link li {
    margin: 0vh 5vh;
  }
  .footer-title{
    margin: 2vh 5vh;
    margin-top: 5vh;
  }
  }
  
@media screen and (max-width: 600px) {
  .main-content-title h1 {
    padding-top: 200px;
    padding-left: 40px;
    font-size: xx-large;
  }

  .main-content-description{
    padding-top: 20px; 
    padding-left: 70px; 
    font-size: 20px;
  }

  .footer-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  .footer-container .link li {
    margin: 0vh 5vh;
  }
  .footer-title{
    margin: 2vh 5vh;
    margin-top: 5vh;
  }
  .footer-container ul{
    display: flex;
    align-items: center;
  }
}