*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark-mode-primary: #57617d;
  --dark-mode-error: red;
  --light-mode-primary: rgb(237, 237, 237);
}

.container{
  height: 100vh;
  width: auto;
  background-color: var(--light-mode-primary);
}

.container.dark{
  background-color: var(--dark-mode-primary);
}

/* sidebar */
.sidebar-container{
  position: fixed;
  width: 375px;
  height: 100vh;
  background-color: antiquewhite;
}
.navbar-container,
.main-content-container,
.footer-container{
  padding-left: 375px;
}

.navbar-container,
.footer-container{
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: aqua;
}

.main-content-container{
  background-color: transparent;
  height: 86.2vh;
}

.side-brand{
  background-image: url("./src/images/massa_logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 375px;
  margin: 1vh;
}

.side-menu{
  margin-top: 25vh;
}

ul{
  list-style: none;
}

li a{
  text-decoration: none;
  color: black;
}

li{
  margin: 3vh 5vh ;
}

/* navbar */
.navbar-container{
  display: flex;
  justify-content: space-between;
}
.title{
  margin-left: 2vh;
}
.dark-mode{
  margin-right: 4vh;
  margin-top: 1vh;
}
    /* darkmode */
.dark-mode {
  margin: 0;
  transition: background 0.2s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  margin-right: 2vh;
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3.1px;
  left: 3.3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

/* main-content */
.content-container{
  visibility: hidden;
  height: 0;
  width: 0;
}
.content-container.active{
  visibility: visible;
  height: max-content;
  width: 100%;
}

  /* credentials */
.credentials-inputs-container {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.input-container {
  position: relative;
  margin: 12px 0;
  width: 50%;
  max-width: 400px;
}

.input-container input {
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: #acacac solid 2px; 
  background-color: transparent;
  color: #eee;
  transition: 0.15s all ease;
  width: 100%;
}

.input-container input::placeholder {
  color: transparent;
}

.input-container .input-label {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: #acacac;
  pointer-events: none;
  transition: 0.15s all ease;
}

.input-container input:focus + .input-label,
.input-container input:not(:placeholder-shown) + .input-label {
  transform: translate(5px, -22px);
  background-color: #383838;
  font-size: 14px;
  color: #eee;
  
}

.input-error{
  color: var(--dark-mode-error);
}
.input-error.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}