:root{
  --side-brand-width: 250px;
  --side-brand-width-mobile: 70px;

  --dark-mode-primary: #57617d;
  --dark-mode-error: red;
  --light-mode-primary: rgb(237, 237, 237);
}

/* credentials */
/* title */
.credentials.title{
  position: absolute;
  padding-left: 15px;
  padding-top: 30px;
  font-size: xx-large;
}


/* inputs */
.credentials-inputs-container {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.input-container {
  position: relative;
  margin: 12px 0;
  width: 600px;
}

.input-container input {
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: #acacac solid 2px; 
  background-color: transparent;
  color: #eee;
  transition: 0.15s all ease;
  width: 100%;
}

.input-container input::placeholder {
  color: transparent;
}

.input-container .input-label {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: #acacac;
  pointer-events: none;
  transition: 0.15s all ease;
}

.input-container input:focus + .input-label,
.input-container input:not(:placeholder-shown) + .input-label {
  transform: translate(5px, -22px);
  background-color: #383838;
  font-size: 14px;
  color: #eee;
  
}

.input-error{
  color: var(--dark-mode-error);
}

.input-error.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}

@media screen and (max-width: 1000px){
  /* credentials */
  .input-container {
    width: 500px;
  }
}

@media screen and (max-width: 600px){
  /* credentials */
  .input-container {
    width: 80%;
  }
}