:root{
  --side-brand-width: 250px;
  --side-brand-width-mobile: 70px;

  /* --dark-mode-primary: #57617d; */
  --dark-mode-error: red;
  /* --light-mode-primary: rgb(237, 237, 237); */
  --dark-mode-credentails-label-color: #acacac;
  --light-mode-credentails-label-color: #1d1818;
}

/* credentials */
/* title */
.credentials.title{
  position: absolute;
  padding-left: 15px;
  padding-top: 30px;
  font-size: xx-large;
}


/* inputs */
.credentials-inputs-container {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.input-container {
  position: relative;
  margin: 12px 0;
  width: 600px;
}

.input-container input {
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 8px;
  border: #acacac solid 2px; 
  background-color: transparent;
  color: #eee;
  transition: 0.15s all ease;
  width: 100%;
  height: 50px;
}

.input-container input::placeholder {
  color: transparent;
}

.input-container .input-label.light {
  color: var(--light-mode-credentails-label-color);
}
.input-container .input-label {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: var(--dark-mode-credentails-label-color);
  pointer-events: none;
  transition: 0.15s all ease;
}

.input-container input:focus + .input-label,
.input-container input:not(:placeholder-shown) + .input-label {
  transform: translate(5px, -22px);
  background-color: #383838;
  box-shadow: #eee -0px -0px 500px;
  font-size: 14px;
  color: #eee;
  
}

.input-error{
  color: var(--dark-mode-error);
}

.input-error.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}

/* success message */
.credentials-login-success.visible{
  color: rgba(19, 76, 19, 0.841);
  font-size: 25px;
  margin-top: -50px;
  margin-bottom: 20px;
  visibility: visible;
  height: auto;
  width: auto;
}
.credentials-login-success{
  visibility: hidden;
  height: 0;
  width: 0;
}

/* fail message */
.credentials-login-fail.visible{
  color: rgba(240, 10, 10, 0.841);
  font-size: 25px;
  margin-top: -50px;
  margin-bottom: 20px;
  visibility: visible;
  height: auto;
  width: auto;
}
.credentials-login-fail{
  visibility: hidden;
  height: 0;
  width: 0;
}

/* login button */
.credentials-login-button button{
  border-radius: 5px;
  border: 1px;
  background-color: #796e6e;
  padding: 6px 16px;
  font-size: 16px;
  cursor: pointer;
}
.credentials-login-button button:hover{
  transform: scale(1.1);
  box-shadow: #eee 2px 2px 20px;
  transition: 0.2s ease-in;
}
.credentials-login-button{
  margin-right: -540px;
  margin-top: 20px;
}

@media screen and (max-width: 1000px){
  /* credentials */
  .input-container {
    width: 500px;
  }
  /* login button */
  .credentials-login-button{
    margin-right: -440px;
  }
}

@media screen and (max-width: 600px){
  /* credentials */
  .input-container {
    width: 80%;
  }
  /* login button */
  .credentials-login-button{
    margin-right: 0;
    margin-top: 10px;
  }
}