:root{
  --side-brand-width: 250px;
  --side-brand-width-mobile: 70px;

    
  --dark-mode-error: red;
    
}

/* carousel */

.content-container.public-api{
  height: 100%;
  width: 100%;
  /* margin-left: var(--side-brand-width); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  z-index: 22;
}

.cards-container {
  background-color: red;
  position: absolute;
  height: 300px;
  width: 650px;
  transform: translateY(-60%);
  display: flex;
}



.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}



.card:not(:first-child) {
  /* margin-left: -calc((100% - var(--side-brand-width)) - 950px); */
  margin-left: -100px;
}



.card:hover {
  position: relative;
  transform: translateY(-20px) scale(1.1);
  transition: 0.4s ease-out;
  z-index: 222;
  width: 250px;
}



.card:hover ~ .card {
  position: relative;
  left: 100px;
  transition: 0.4s ease-out;
}



.card-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}



.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}



.emptybar {
  margin-top: -50px;
  background-color: #2e3033;
  width: 2%;
  height: 100%;
}



.filledbar {
  position: absolute;
  top: 0px;
  margin-top: -50px;
  /* left:0px; */
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 90%;
  transition: 0.4s ease-out;
}
.card:hover .emptybar {
  visibility: hidden;
  width: 0;
  height: 0;
}

.card-input{
  position: absolute;
  top: 100px;
  left: 15px;
}

.card-input textarea{
  background-color: transparent;
  border: 1px black solid;
  color: white;
  width: 150px;
  resize: none;
}
textarea:focus{
  border: red;
}

.card-input textarea::placeholder{
  position: absolute;
  top: 3px;
  left: 3px;
}

@media screen and (max-width: 1000px){
  /* public api */
  .cards-container{
    width: 500px;
  }
}

@media screen and (max-width: 600px){
  .cards-container{
    width: 350px;
  }
}